/**
 *
 * Sanitize/Normalize/Reset
 *
*/

/* global box-sizing */
*,
*:after,
*:before {
	background-repeat:no-repeat;
	box-sizing:inherit;
	-moz-box-sizing:inherit;
	font-smoothing:antialiased;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/* clear */
.clear:before,
.clear:after {
	content:' ';
	display:table;
}

.clear:after {
	clear:both;
}
.clear {
	*zoom:1;
}

img {
	height: auto;
	max-width:100%;
}
a {
	text-decoration:none;
}
a:hover,
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	border:none;
	outline:0;
}
nav ol,
nav ul {
	list-style: none;
}
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}


/**
 * Main
 */


/* Color schemes */
.swing {
	--color-background: #18000E;
	--color-link: #828284;
	--color-link-hover: #fff;
	--color-text: #fff;
}
.menu {
	--button-bg: #D90B7C;
	--button-circle: #D9648F;
	--button-line: #ffffff;
	--color-menu: #ffffff;
	--color-menu-hover: #D90B7C;
	--font-family-menu: var(--font-family-title);
	--font-size-menu: 2.5vh;
	--font-weight-menu: 400;
	--path-fill-1: url(#gradient1);
	--path-fill-2: url(#gradient2);
	--path-fill-3: url(#gradient3);
}


html {
	background: var(--color-background);
	box-sizing: border-box;
	cursor: default;
}

body {
	background: #18000E url(../img/main_bg_wide.jpg)no-repeat center center / cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	color: var(--color-text);
	font-family: 'Cutive Mono', monospace;
	line-height: 1.5;
	font-size: 16px;
	height: auto;
	margin: 0;
	max-width: 100%;
}

/* Preload background images */
body::after{
	content:url(../img/main_bg_wide.jpg) url(../img/home_bg_wide.jpg);
	height:0;
	overflow:hidden;
	position:absolute;
	width:0;
	z-index:-1;
}

body.home {
	background: #292929 url(../img/home_bg_wide.jpg)no-repeat center center / cover;
	background-attachment: fixed;
}

.js body {
	opacity: 0;
	transition: opacity 0.3s;
}
.js body.render {
	opacity: 1;
}

main {
	position: relative;
	width: 100%;
}

.logo {
	padding: 20px 0;
}


/**
 * Typography
 */
:root { font-size: 18px;  /* default below 800px */ }
@media (min-width: 50em){
	:root {
		font-size: 3vw;
	}
}

html {
	font-size: 3vw;
}
h1 {
	font-size: 7vh;
}
h2 {
	font-size: 5vh;
}
h3 {
	font-size: 3.5vh;
}
h4 {
	font-size: 2.5vh;
}
p {
	font-size: 2.5vh;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

.content-container a {
	color: #D90B7C;
	border: none;
	font-weight: 700;
	transition: all 0.25s ease;
	display: inline;
}
.content-container a:hover {
	color: rgba(223, 75, 55, 0.9);
}


pre {
	background-color: #0000FF;
	margin: 10px 0;
	padding: 5px;
}

.caps {
	text-transform: uppercase;
}

h1, h2, h3, h4 {
	line-height: 1;
	margin: 0;
}

blockquote {
	background-color: #d90b7c;
	border: 1px solid #750571;
	border-color: rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 5px #d8e071, 0 0 1px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.02);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	line-height: 1.2;
	margin: 30px auto;
	max-width: 90%;
	padding: 30px 20px 30px 45px;
	position: relative;
	text-shadow: 0 1px 1px #000;
	width: auto;
}
blockquote:before,
blockquote:after {
	bottom: 0;
	content: '';
	position: absolute;
	top: 0;
}
blockquote:before {
	border: solid #efcfad;
	border-color: rgba(255, 255, 255, 0.3);
	border-width: 0 1px;
	left: 28px;
	width: 2px;
}
blockquote:after {
	background: rgba(217, 11, 124, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.7);
	left: 0;
	right: 0;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	z-index: -1;
}
blockquote a {
	color: #fff;
}
blockquote a.author {
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 80%;
	margin-top: 10px;
	padding: 5px 10px;
}


#home-content .word--swing {
	font-size: 8vh;
	line-height: 0.75;
}
#home-content h3 {
	font-size: 3.5vh;
	line-height: 2;
}
#home-content .tagline {
	margin: 15px auto;
	max-width: 600px;
}

.post-title {
	border-bottom: 1px dotted #D90B7C;
	font-size: 2em;
	line-height: 1.25;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.post-details {
	color: #ea757f;
	font-size: 16px;
}
.post-edit-link {
	clear: both;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
}

.pagination a {
	color:  #D90B7C;
	font-size: 20px;
	text-transform: uppercase;
}
.pagination a:hover,
.pagination a:focus {
	color: #fff;
}

.nav-previous {
	float: left;
}
.nav-next {
	float: right;
}

footer p {
	font-size: 1.5vh;
	padding: 0 10px;
}


/**
 * Content
 */
audio,
canvas,
iframe,
video {
	display: block;
	margin: 20px auto;
}

.content {
	align-content: center;
	display: block;
	justify-content: center;
	line-height: 1.25;
	min-height: 90vh;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 5%;
	position: relative;
	width: 100%;
}
.content--layout {
	grid-template-columns: 100%;
	padding: 1em 0;
	text-align: center;
}
.content--fixed {
	align-content: space-between;
	display: grid;
	left: 0;
	max-width: none;
	min-height: 0;
	padding: 1.5em;
	position: fixed;
	width: 100%;
}
.content-left {
	margin: 20px auto;
	width: 100%;
}

.content-left ol li,
.content-left ul li,
.content-left ol li a,
.content-left ul li a {
	font-size: 2vh;
	line-height: 1.5;
	padding-bottom: 10px;
}

.disclaimer {
	background-color: #000;
	border-left: 5px solid #DF4B37;
	color: #ccc;
	font-style: italic;
	margin: 20px 0;
	padding: 20px 10px;
}

#home-content {
	margin: 20vh auto;
}

.post-content {
	padding: 0 20px;
	text-align: left;
}
.post-content article {
	clear: both;
	margin: 1em 0;
}

.post-details .comments {
	border: none;
}

.post-thumb {
	float: left;
	height: auto;
	max-width: 200px;
	padding: 0 20px 10px 0;
}
.post-image {
	margin: 20px auto;
	text-align: center;
	width: 100%;
}
.post-image img {
	max-height: 500px;
}

.view-article {
	background-color: #D90B7C;
	clear: both;
	color: #fff;
	display: block;
	line-height: 2;
	margin: 10px 0;
	max-width: 200px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
.view-article:hover {
	color: #000;
}

.page-content {
	padding: 0 2em;
	text-align: center;
}

.pagination {
	border-top: 1px dotted #D90B7C;
	margin: 50px 0;
	padding-top: 20px;
}

.wpmudev_video iframe {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}

/** Comments */
.comments {
	border-top: 1px dotted #D90B7C;
	margin: 50px auto;
	padding: 20px 0;
	text-align: left;
}
.comments ul {
	padding: 0;
}
.comments ul li {
	list-style: none;
	margin:  20px 0;
}
.comment-author.vcard {
	float: left;
	position: relative;
	text-align: center;
	width: 10%;
}
.comment-author.vcard span {
	background:#c4c4c4 url(../img/thumb_overlay.png) no-repeat top left;
	cursor:pointer;
	height:85px;
	left:0px;
	position:absolute;
	top:0px;
	width:85px;
	z-index: 1;
}
.comment-author.vcard span:hover {
	background:#fff url(../img/thumb_overlay_hover.png) no-repeat top left;
}
.comment-author.vcard span img {
	border-radius: 50px;
	display: inline-block;
	height: 68px;
	margin-top: 8px;
	text-align: center;
	vertical-align: middle;
	width: 68px;
	z-index: -1;
}
.comment-author-message {
	background-color: #18000e;
	border-radius: 5px;
	box-shadow: 0 0 6px #b2b2b2;
	display: inline-block;
	margin-left: 10%;
	padding: 10px 18px;
	position: relative;
	vertical-align: top;
	width: 75%;
}
.comment-author-message::before {
	background-color: #18000e;
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	content: '\00a0';
	display: block;
	height: 16px;
	left: -9px;
	position: absolute;
	top: 11px;
	transform:             rotate( 29deg ) skew( -35deg );
			-moz-transform:    rotate( 29deg ) skew( -35deg );
			-ms-transform:     rotate( 29deg ) skew( -35deg );
			-o-transform:      rotate( 29deg ) skew( -35deg );
			-webkit-transform: rotate( 29deg ) skew( -35deg );
	width:  20px;
}
.comments ul li.depth-1 {
	margin: 20px auto 50px;
}
.comments ul li.depth-1 li .comment-body {
	margin: 0 auto;
	width: 85%;
}
.comments ul.children li .comment-author.vcard {
	float: right;
}
.comments ul.children li .comment-author-message {
	background-color: #35001d;
	margin-right: 10%;
	text-align: right;
}
.comments ul.children li .comment-author-message::before {
	background-color: #35001d;
	box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
	left: 99%;
}
.comments ul.children li.even .comment-author.vcard {
	float: left;
}
.comments ul.children li.even .comment-author-message {
	background-color: #18000e;
	margin-left: 10%;
	text-align: left;
}
.comments ul.children li.even .comment-author-message::before {
	background-color: #18000e;
	box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
	left: -9px;
}

#respond {
	clear: both;
}


.footer {
	background-color: #18000e;
	bottom: 0;
	margin: 30px auto 0;
	opacity: 0.8;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}
.home .footer {
	background-color: #292929;
}


/** Sidebar */
.sidebar {
	font-size: 1.2em;
	margin: 20px auto;
	padding: 30px 0;
	text-align: left;
	width: 90%;
}
.sidebar a {
	color: #fff;
}
.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active {
	color: #B6FF00!important;
}
.sidebar-widget .widget {
	background: #18000E;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 10px 0;
	padding: 10px;
}
.sidebar-widget .widget:nth-child(odd) {
	background: #DF4B37;
}
.sidebar-widget ul {
	padding: 0;
}
.sidebar-widget ul li {
	list-style: none;
}
.widget-title {
	border-bottom: 1px dotted #fff;
	color: #fff;
	font-size: 1.5em;
	line-height: 1.2;
	padding-bottom: 5px;
}
.wdqs_widget_status_title {
	display: none;
}
.wdqs-author_avatar {
	float: left;
	padding: 3px 2% 3px 3px!important;
	width: 20%;
}
.wdqs_widget_status_body {
	width: 77%;
	float: left!important;
	padding-bottom: 20px;
}
.wdqs_widget_status_body img {
	max-width: 90%;
	height: auto;
}
.wdqs-post_meta {
	border-top: 1px solid;
	clear: both;
	font-size: 12px;
	margin: 15px 0;
	padding: 5px 0;
}

/** forms style */
.contact-form {
	margin: 30px auto;
	max-width: 600px;
	width: 90%;
}
label {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
	display: block;
	font-size: 2vh;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}
@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

/* Input field */
input[type='text'],
input[type='email'],
input[type="search"],
select,
textarea {
	background-color: #fff;
	border: none;
	color: #000;
	display: block;
	line-height: 1;
	margin: 0.3em 0 0 0;
	-webkit-transition: opacity 0.3s;
	opacity: 0.3;
	padding: 0.5em 1em 0.5em 0.7em;
	transition: opacity 0.3s;
	width: 100%;
}

input:focus,
textarea:focus {
	background: #fff;
	color: #000;
	opacity: 1;
	outline: none;
}
input[type='submit'],
.search-submit {
	background-color: #d90b7c;
	border: none;
	color: #fff;
	max-width: 200px;
	padding: 10px 20px;
	text-transform: uppercase;
	width: auto;
}
input[type='submit']:focus,
input[type='submit']:hover {
	background-color: #580332;
}

input[type="search"] {
	width: 80%;
	float: left;
	margin: 0;
	padding: 10px 1%;
}
.search-submit {
	max-width: 18%;
}


/** 404 Page */
.error404 {
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #f9d77e;
	--color-link-hover: #fff;
	--color-info: #efc453;
	--glitch-width: 100vw;
	--glitch-height: 100vh;
	--gap-horizontal: 10px;
	--gap-vertical: 5px;
	--time-anim: 4s;
	--delay-anim: 2s;
	--blend-mode-1: none;
	--blend-mode-2: none;
	--blend-mode-3: none;
	--blend-mode-4: none;
	--blend-mode-5: overlay;
	--blend-color-1: transparent;
	--blend-color-2: transparent;
	--blend-color-3: transparent;
	--blend-color-4: transparent;
	--blend-color-5: #af4949;
}

.error404 main {
	position: relative;
	width: 100%;
}

.error404 .content {
	align-items: center;
	color: #fff;
	display: block;
	justify-content: center;
	margin: 0 auto;
	min-height: 100vh;
	position: relative;
	width: 100%;
}

.imgloaded .content-title,
.imgloaded .content-text {
	animation-name: glitch-anim-text;
	animation-duration: var(--time-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.content-title {
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	margin: 5vh auto 0;
	padding-bottom: 30px;
	position: relative;
	text-align: center;
}

.content-text {
	animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.25);
	font-family: 'IM Fell English', serif;
	font-size: 1.25em;
	font-weight: 400;
	line-height: 1.5;
	margin: 10vh auto 0;
	max-width: 100%;
	position: relative;
	text-align: right;
}


/* Glitch styles */
.glitch {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--glitch-width);
	height: var(--glitch-height);
	overflow: hidden;
}

.glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	background: url(../img/404-bg.jpg) no-repeat 0 0;
	background-color: var(--blend-color-1);
	background-size: cover;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2) {
	opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}

/* Animations */

@keyframes glitch-anim-1 {
	0% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	4% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	8% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	10% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	12% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	14% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	16% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	18% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-2 {
	0% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-3 {
	0% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-text {
	0% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	2% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	4% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	7% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	8% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	9% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	9.9% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
	}
	10%, 100% {
		transform: translate3d(0,0,0) scale3d(1,1,1);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

/* Flash */
@keyframes glitch-anim-flash {
	0%, 5% {
		opacity: 0.2;
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}



/**
 * Menu Styles
 */
.global-menu {
	align-items: center;
	display: flex;
	height: 90vh;
	justify-content: center;
	left: 0;
	pointer-events: none;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100vw;
	z-index: 100;
}
.global-menu ul {
	padding: 0;
}
.global-menu li {
	list-style: none;
}

a .global-menu__item {
	color: var(--color-menu);
	display: block;
	font-family: var(--font-family-menu);
	font-size: var(--font-size-menu);
	font-weight: var(--font-weight-menu);
	margin: 0.25em 0;
	opacity: 0;
	pointer-events: none;
	transition: transform 0.3s, opacity 0.3s;
	transition-timing-function: ease-in;
	transform: translateY(-100%);
}

a:hover .global-menu__item {
	color: var(--color-menu-hover);
}

.global-menu__item.is-opened {
	opacity: 1;
	pointer-events: auto;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	transform: translateY(0) rotate(0);
}
.global-menu__item:nth-of-type(1) {
	transition-delay: 0.25s;
}
.global-menu__item.is-opened:nth-of-type(1) {
	transition-delay: 1s;
}
.global-menu__item:nth-of-type(2) {
	transition-delay: 0.2s;
}
.global-menu__item.is-opened:nth-of-type(2) {
	transition-delay: 1.1s;
}
.global-menu__item:nth-of-type(3) {
	transition-delay: 0.15s;
}
.global-menu__item.is-opened:nth-of-type(3) {
	transition-delay: 1.2s;
}
.global-menu__item:nth-of-type(4) {
	transition-delay: 0.1s;
}
.global-menu__item.is-opened:nth-of-type(4) {
	transition-delay: 1.3s;
}

.shape-overlays {
	height: 100vh;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 2;
}
.shape-overlays.is-opened {
	pointer-events: auto;
}
.shape-overlays__path:nth-of-type(1) {
	fill: var(--path-fill-1);
}
.shape-overlays__path:nth-of-type(2) {
	fill: var(--path-fill-2);
}
.shape-overlays__path:nth-of-type(3) {
	fill: var(--path-fill-3);
}
.shape-overlays__path:nth-of-type(4) {
	fill: var(--path-fill-4);
}

@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

.hamburger {
	background-color: var(--button-bg);
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 50px;
	pointer-events: auto;
	position: relative;
	position: absolute;
	right: 1.25em;
	top: 1.25em;
	width: 50px;
	z-index: 110;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.hamburger::after {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: intervalHamburgerBorder;
	animation-name: intervalHamburgerBorder;
	border: 4px solid var(--button-circle);
	border-radius: 50%;
	box-sizing: border-box;
	content: '';
	display: block;
	height: 50px;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 50px;
}
.hamburger__line {
	height: 2px;
	overflow: hidden;
	position: absolute;
	width: 28px;
	z-index: 10;
}
.hamburger__line-in {
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	width: 84px;
}
.hamburger__line-in::before,
.hamburger__line-in::after {
	background-color: var(--button-line);
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	top: 0;
	width: 28px;
}
.hamburger__line-in::before {
	left: -56px;
}
.hamburger__line-in::after {
	left: 0;
}
.hamburger__line--01,
.hamburger__line--02,
.hamburger__line--03,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	left: 11px;
}
.hamburger__line--01 {
	top: 16px;
}
.hamburger__line--02,
.hamburger__line--cross01,
.hamburger__line--cross02 {
	top: 24px;
}
.hamburger__line--03 {
	top: 32px;
}
.hamburger__line--cross01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.hamburger__line--cross02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hamburger__line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger__line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger__line-in::before,
.hamburger__line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}
.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}
.hamburger__line-in--01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.hamburger__line-in--02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.hamburger__line-in--02::before,
.hamburger__line-in--02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hamburger__line-in--03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.hamburger__line-in--03::before,
.hamburger__line-in--03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}
.hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hamburger__line-in--cross02::before,
.hamburger__line-in--cross02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}
.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.hamburger.is-opened-navi .hamburger__line-in--01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.hamburger.is-opened-navi .hamburger__line-in--02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.hamburger:hover .hamburger__line-in::before,
.hamburger:hover .hamburger__line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}
.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--03::before,
.hamburger:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross02::before,
.hamburger:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}


/** Flying Eye Animation */
.flyingeye {
	-webkit-animation: eye 2.2s ease-in-out infinite, body 1.15s 1.8s linear infinite;
	-moz-animation: eye 2.2s ease-in-out infinite, body 1.15s 1.8s linear infinite;
	-ms-animation: eye 2.2s ease-in-out infinite, body 1.15s 1.8s linear infinite;
	animation: eye 2.2s ease-in-out infinite, body 1.15s 1.8s linear infinite;
	background: rgba( 255, 255, 255, 1);
	background: -webkit-radial-gradient(ellipse at center, rgba(255,255,255,1) 40%,rgba(51,51,51,1) 100%);
	background: -moz-radial-gradient(ellipse at center, rgba(255,255,255,1) 40%,rgba(51,51,51,1) 100%);
	background: -ms-radial-gradient(ellipse at center, rgba(255,255,255,1) 40%,rgba(51,51,51,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 40%,rgba(51,51,51,1) 100%);
	border-radius: 100%;
	box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 0.2em 0 0 rgb(217,11,124);
	color: rgba( 217,11,124, 0.8);
	cursor: pointer;
	font-size: 2vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.1em;
	margin: 1em auto;
	padding-left: 0.18em;
	position: relative;
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 1em; height: 1em;
}
.flyingeye a {
	color: #000;
}
.flyingeye:hover {
	-webkit-transform: scaleY(0.9) scaleX(0.95) translateY(-3em) translateZ(0);
	-moz-transform: scaleY(0.9) scaleX(0.95) translateZ(0);
	-ms-transform: scaleY(0.9) scaleX(0.95) translateY(-3em) translateZ(0);
	transform: scaleY(0.9) scaleX(0.95) translateZ(0);
}
.flyingeye:before,
.flyingeye:after {
	-webkit-animation-duration: 0.2s;
	-moz-animation-duration: 0.2s;
	-ms-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	background: rgba(0,0,0,0);
	border-radius: 100%;
	content: "";
	display: none;
	position: absolute;
	-webkit-filter: blur(1px);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	width: 1em; height: 0.1em;
}
.flyingeye:before {
	-webkit-animation-name: wings;
	-moz-animation-name: wings;
	-ms-animation-name: wings;
	animation-name: wings;
	margin-left: -1em;
	top: 25%; left: 1.45em;
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}
.flyingeye:after {
	-webkit-animation-name: wings2;
	-moz-animation-name: wings2;
	-ms-animation-name: wings2;
	animation-name: wings2;
	margin-left: 1em;
	top: 25%; left: -2.2em;
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
	-ms-transform-origin: right;
	transform-origin: right;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}
.flyingeye:hover:before,
.flyingeye:hover:after {
	background: rgba(100,100,100,0.8);
	display: block;
	margin-left: 0em;
	width: 2em; height: 0.3em;
}

@-webkit-keyframes eye {
	5%, 10% {
		line-height: 1.2em;
		padding-left: 0em;
	}
	15%, 20% {
		line-height: 1.15em;
		padding-left: 0.4em;
	}
	25% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 1em 0 0 rgb(217,11,124);
	}
	23%, 27% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 0.2em 0 0 rgb(217,11,124);
	}
}

@-moz-keyframes eye {
	5%, 10% {
		line-height: 1.2em;
		padding-left: 0em;
	}
	15%, 20% {
		line-height: 1.15em;
		padding-left: 0.4em;
	}
	25% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 1em 0 0 rgb(217,11,124);
	}
	23%, 27% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 0.2em 0 0 rgb(217,11,124);
	}
}

@-ms-keyframes eye {
	5%, 10% {
		line-height: 1.2em;
		padding-left: 0em;
	}
	15%, 20% {
		line-height: 1.15em;
		padding-left: 0.4em;
	}
	25% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 1em 0 0 rgb(217,11,124);
	}
	23%, 27% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 0.2em 0 0 rgb(217,11,124);
	}
}

@keyframes eye {
	5%, 10% {
		line-height: 1.2em;
		padding-left: 0em;
	}
	15%, 20% {
		line-height: 1.15em;
		padding-left: 0.4em;
	}
	25% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 1em 0 0 rgb(217,11,124);
	}
	23%, 27% {
		box-shadow: 0 0 0 0.2em rgb(217,11,124), 0 0 0.1em 0.55em rgb(217,11,124), inset 0 0.2em 0 0 rgb(217,11,124);
	}
}

@-webkit-keyframes body {
	50% {
		width: 1.4em; height: 1.4em;
	}
}

@-moz-keyframes body {
	50% {
		width: 1.4em; height: 1.4em;
	}
}

@-ms-keyframes body {
	50% {
		width: 1.4em; height: 1.4em;
	}
}

@keyframes body {
	50% {
		width: 1.4em; height: 1.4em;
	}
}

@-webkit-keyframes wings {
	50% {
		-webkit-transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@-moz-keyframes wings {
	50% {
		-webkit-transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@-ms-keyframes wings {
	50% {
		-webkit-transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@keyframes wings {
	50% {
		-webkit-transform: rotate(65deg);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
	}
}

@-webkit-keyframes wings2 {
	50% {
		-webkit-transform:rotate(-65deg);
		-moz-transform:rotate(-65deg);
		-ms-transform:rotate(-65deg);
		transform:rotate(-65deg);
	}
}

@-moz-keyframes wings2 {
	50% {
		-webkit-transform: rotate(-65deg);
		-moz-transform: rotate(-65deg);
		-ms-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}

@-ms-keyframes wings2 {
	50% {
		-webkit-transform: rotate(-65deg);
		-moz-transform: rotate(-65deg);
		-ms-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}

@keyframes wings2 {
	50% {
		-webkit-transform: rotate(-65deg);
		-moz-transform: rotate(-65deg);
		-ms-transform: rotate(-65deg);
		transform: rotate(-65deg);
	}
}


/** Share Buttons */
.share {
	filter: url("../share.html#goo");
	height: 50px;
	margin: 0 auto;
	max-width: 300px;
	position: relative;
	webkit-filter: url("#goo");
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
.share-button,
.share-toggle-button {
	background: #ccc;
	border: none;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	height: 50px;
	left: 50%;
	line-height: 50px!important;
	margin-left: -40px;
	margin-top: 0;
	outline: none;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 50px;
}
.share-button:hover,
.share-toggle-button:hover {
	color: #fff;
}
a.share-button {
	background: #737070;
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
	color: #fff;
	font-size: 30px;
	transform: scale(0.95, 0.95);
	webkit-transform: scale(0.95, 0.95);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
a.share-button:hover {
	background-color: #D90B7C!important;
}
a.share-button:hover i {
	color: #fff;
}
a.share-button:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}
a.share-button:after {
	box-shadow: 3px 3px rgba(255, 255, 255, 1);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}
a.share-button:hover:after {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}
a.share-button:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
a.share-button:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.share-toggle-button {
	background: #666;
	font-size: 20px;
	z-index: 9;
}
.share-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.share-item {
	display: inline-block;
}




/**
 * Media Queries
 */

/* Define mobile styles - Mobile First */
@media only screen {
	body.home {
		background: #292929 url(../img/home_bg_wide.jpg)no-repeat 65% center;
		background-attachment: fixed;
		background-size: cover;
	}
	body {
		background: #18000E url(../img/main_bg_wide.jpg)no-repeat 25% center;
		background-attachment: fixed;
		background-size: cover;
	}
	.logo-img {
		max-width: 200px;
	}
}


@media only screen and (min-width: 40em) {
	html {
		font-size: 3vw;
	}
	h1 {
		font-size: 7vh;
	}
	h2 {
		font-size: 5vh;
	}
	h3 {
		font-size: 4vh;
	}
	h4 {
		font-size: 3vh;
	}
	p,
	.content-left ol li,
	.content-left ul li,
	.content-left ol li a,
	.content-left ul li a {
		font-size: 3vh;
	}
	footer p {
		font-size: 2vh;
	}
	#home-content .word--swing {
		font-size: 10vh;
	}
	#home-content h3 {
		font-size: 4vh;
	}
	#home-content .tagline {
		font-size: 3vh;
	}
}

@media only screen and (min-width: 55em) {
	body.home {
		background: #292929 url(../img/home_bg_wide.jpg)no-repeat -320px center;
		background-attachment: fixed;
		background-size: cover;
	}
	body {
		background: #18000E url(../img/main_bg_wide.jpg)no-repeat -320px center;
		background-attachment: fixed;
		background-size: cover;
	}
	.content {
		width: 90%;
	}
	.logo-img {
		max-width: 100%;
	}
	html {
		font-size: 2vw;
	}
	h1 {
		font-size: 5vh;
	}
	h2 {
		font-size: 4vh;
	}
	h3 {
		font-size: 2.5vh;
	}
	h4 {
		font-size: 2vh;
	}
	p,
	.content-left ol li,
	.content-left ul li,
	.content-left ol li a,
	.content-left ul li a {
		font-size: 2vh;
	}


	footer p {
		font-size: 1.5vh;
	}
	#home-content .word--swing {
		font-size: 7vh;
	}
	#home-content h3 {
		font-size: 3.5vh;
	}
	#home-content .tagline {
		font-size: 1.75vh;
	}
	.wpmudev_video iframe {
		height: 451px;
		width: 800px;
	}


	.glitch__img {
		background: url(../img/404-bg.jpg) no-repeat 50% 0;
	}
	.content-title {
		font-size: 9vw;
	}
	.content-text {
		font-size: 2.25em;
	}
}
@media only screen and (min-width: 65em) {
	.content-left {
		width: 65%;
		float: left;
		padding: 30px 0;
	}
	.sidebar {
		float: right;
		width: 30%;
	}
}
@media only screen and (min-width: 70em) {
	body.home {
		background: #292929 url(../img/home_bg_wide.jpg)no-repeat -400px center;
		background-attachment: fixed;
		background-size: cover;
	}
	#home-content .word--swing {
		font-size: 8vw;
	}
}
@media only screen and (min-width: 72em) {
	body.home {
		background: #292929 url(../img/home_bg_wide.jpg)no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
	}
}
@media only screen and (min-width: 85em) {

}
@media only screen and (min-width: 95em) {}



/**
 * WordPress Core
 */
.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#fff;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	line-height:1.5;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}


/**
 * Print
 */

@media print {
	* {
		background:transparent !important;
		box-shadow:none !important;
		color:#000 !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}


/* Latest Post Tooltip */

.tooltip {
	position: absolute;
	z-index: 1;
	width: 2.2em;
	height: 2.2em;
	cursor: pointer;
}

/* Trigger item */

.tooltip-item {
	width: 30px;
	height: 30px;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -15px;
	position: absolute;
	border-radius: 50%;
	border: 2px solid #e35583;
	-webkit-animation: pulse 0.6s infinite alternate;
	animation: pulse 0.6s infinite alternate;
}

@-webkit-keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); }
}

@keyframes pulse {
	from { -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
	to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.tooltip:hover .tooltip-item {
	border-color: #fff;
}

.tooltip:first-child {
	top: 30%;
	left: 24%;
}

.tooltip:nth-child(2) {
	top: 50%;
	left: 10%;
}

.tooltip:nth-child(3) {
	top: 40%;
	left: 50%;
}

.tooltip:nth-child(4) {
	top: 70%;
	left: 70%;
}

.tooltip-content {
	position: absolute;
	background: #e35583;
	z-index: 9999;
	width: auto;
	max-width: 300px;
	bottom: 50%;
	margin-bottom: -1em;
	padding: 20px;
	border-radius: 20px;
	font-size: 1.1em;
	text-align: center;
	color: #fff;
	opacity: 0;
	cursor: default;
	pointer-events: none;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}
.tooltip-content a {
	color: #000;
}
.tooltip-content a:hover,
.tooltip-content a:active,
.tooltip-content a:focus {
	color: #fff;
}

.tooltip-west .tooltip-content {
	left: 4em;
	-webkit-transform-origin: -2em 50%;
	transform-origin: -2em 50%;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
}

.tooltip-east .tooltip-content {
	right: 4em;
	-webkit-transform-origin: calc(100% + 2em) 50%;
	transform-origin: calc(100% + 2em) 50%;
	-webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
	transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
}

.tooltip:hover .tooltip-content {
	opacity: 1;
	-webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	pointer-events: auto;
}

/* Gap "bridge" and arrow */

.tooltip-content::before,
.tooltip-content::after {
	content: '';
	position: absolute;
}

.tooltip-content::before {
	height: 100%;
	width: 3em;
}

.tooltip-content::after {
	width: 2em;
	height: 2em;
	top: 50%;
	margin: -1em 0 0;
	background: url(../img/tooltip2.svg) no-repeat center center;
	background-size: 100%;
}

.tooltip-west .tooltip-content::before,
.tooltip-west .tooltip-content::after {
	right: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip-content::before,
.tooltip-east .tooltip-content::after {
	left: 99%; /* because of FF, otherwise we have a gap */
}

.tooltip-east .tooltip-content::after {
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}


/** Search style */
.morphsearch {
	width: 200px;
	min-height: 40px;
	background: #f1f1f1;
	position: absolute;
	z-index: 10000;
	top: 50px;
	right: 50px;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-property: min-height, width, top, right;
	transition-property: min-height, width, top, right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open {
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
}

.morphsearch-form {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open .morphsearch-form {
	width: 80%;
	height: 160px;
	-webkit-transform: translate3d(0,3em,0);
	transform: translate3d(0,3em,0);
}

.morphsearch-input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	color: #ec5a62;
	-webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
	transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.morphsearch-input::-ms-clear { /* remove cross in IE */
		display: none;
}

.morphsearch.hideInput .morphsearch-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
	font-size: 7em;
}

/* placeholder */
.morphsearch-input::-webkit-input-placeholder {
	color: #c2c2c2;
}

.morphsearch-input:-moz-placeholder {
	color: #c2c2c2;
}

.morphsearch-input::-moz-placeholder {
	color: #c2c2c2;
}

.morphsearch-input:-ms-input-placeholder {
	color: #c2c2c2;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
	outline: none;
}

.morphsearch-submit {
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	right: 0;
	top: 50%;
	background: transparent url(../img/magnifier.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	pointer-events: none;
	transform-origin: 50% 50%;
	opacity: 0;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
	transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.morphsearch.open .morphsearch-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: #000;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
	opacity: 1;
}

.morphsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.morphsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.morphsearch-content {
	color: #333;
	margin-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.morphsearch.open .morphsearch-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.dummy-column {
	width: 30%;
	padding: 0 0 6em;
	float: left;
	opacity: 0;
	-webkit-transform: translate3d(0,100px,0);
	transform: translateY(100px);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.morphsearch.open .dummy-column:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.morphsearch.open .dummy-column:nth-child(2) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.morphsearch.open .dummy-column:nth-child(3) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch.open .dummy-column {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.dummy-column:nth-child(2) {
	margin: 0 5%;
}

.dummy-column h2 {
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
	color: #c2c2c2;
	padding: 0.5em 0;
}

.round {
	border-radius: 50%;
}

.dummy-media-object {
	padding: 0.75em;
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(118,117,128,0.05);
}

.dummy-media-object:hover,
.dummy-media-object:focus {
	background: rgba(118,117,128,0.1);
}

.dummy-media-object img {
	display: inline-block;
	width: 50px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.dummy-media-object h3 {
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
	color: rgba(145,145,145,0.7);
}

.dummy-media-object:hover h3 {
	color: rgba(236,90,98,1);
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open ~ .overlay {
	opacity: 1;
}

@media screen and (max-width: 53.125em) {
	.morphsearch-input {
		padding: 0 25% 0 10px;
	}
	.morphsearch.open .morphsearch-input {
		font-size: 2em;
	}
	.dummy-column {
		float: none;
		width: auto;
		padding: 0 0 2em;
	}
	.dummy-column:nth-child(2) {
		margin: 0;
	}
	.morphsearch.open .morphsearch-submit {
		-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	}
}

@media screen and (max-width: 60.625em) {
	.morphsearch {
		width: 80%;
		top: 10%;
		right: 10%;
	}
}


