@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Press Start 2P';
  src: url(/assets/fonts/PressStart2P.ttf);
  display: swap;
}

* {
  @apply text-sm;
  font-family: 'Press Start 2P', monospace;
}

html,
body {
  @apply overflow-x-hidden bg-dark-background p-0 m-0;
}

body > div:first-child,
div#__next,
div#__next > div {
  @apply h-full overflow-auto w-full;
}

::-webkit-scrollbar {
  @apply h-[8px] w-[8px];
}

::-webkit-scrollbar-track {
  @apply rounded bg-dark-yellow;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-dark-foreground;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-red;
}

main {
  @apply max-w-full overflow-x-hidden;
}

h1 {
  @apply mb-2 text-xl md:text-2xl lg:text-3xl text-dark-green;
}

h2 {
  @apply mb-2 text-lg md:text-xl lg:text-2xl text-light-gray;
}

h3 {
  @apply mb-2 text-base md:text-lg lg:text-xl text-light-red;
}

p {
  @apply mb-2 text-xs leading-loose;
}

.banner-text {
  @apply my-5 text-5xl md:text-7xl lg:text-9xl text-dark-yellow;
}

.banner-subtext {
  @apply my-5 text-xs md:text-sm lg:text-base leading-loose text-dark-red;
}
